{% extends "::headerbar.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block sidebar %}
<nav>
	<p><a href="{{ path('ml_service_add') }}">Nouveau service</a></p>
	<p><a href="{{ path('ml_service_see_mine') }}">Mes services proposés</a></p>
	<p><a href="{{ path('ml_transaction_eval_index') }}">Service à évaluer</a></p>
	<p><a href="{{ path('ml_group_creation_group') }}">Nouveau groupe</a></p>
	<p><a href="#editprofile">Edit Profile</a></p>
	<p><a href="#changepassword">Change Password</a></p>
	<p><a href="#emails">Emails</a></p>
	<p><a href="#status">Status</a></p>
	<p><a href="{{path('ml_transaction_homepage')}}">Transactions</a></p>
	<p><a href="#notifications">Notifications</a></p>
</nav>
{% endblock %}

{% block body %}
  {% block user_body %}
  {% endblock %}
  
  <hr>
{% endblock %}
