{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - Ajouter - Covoiturage
{% endblock %}
	
{% block service_body %}

	{% if form is defined %}
		<table class="table">
			<tr>
				<td>
					<div class="well">
						<form method="post" class="CouchSurfing" {{ form_enctype(form) }}>
							<h3 id = "title_form"><b>Créer un service de covoiturage</b></h3>
							{{ form_label(form.title) }}
							{{ form_errors(form.title) }}
							{{ form_widget(form.title) }}<br><br>
							{{ form_label(form.comment) }}
							{{ form_errors(form.comment) }}
							{{ form_widget(form.comment) }}<br><br>
							{{ form_label(form.price) }}
							{{ form_errors(form.price) }}
							{{ form_widget(form.price) }}<br><br>
							{{ form_label(form.departure) }}
							{{ form_errors(form.departure) }}
							{{ form_widget(form.departure) }}<br><br>
							{{ form_label(form.arrival) }}
							{{ form_errors(form.arrival) }}
							{{ form_widget(form.arrival) }}<br><br>
							{{ form_label(form.meetingPoint) }}
							{{ form_errors(form.meetingPoint) }}
							{{ form_widget(form.meetingPoint) }}<br><br>
							{{ form_label(form.arrivalPoint) }}
							{{ form_errors(form.arrivalPoint) }}
							{{ form_widget(form.arrivalPoint) }}<br><br>
							{{ form_label(form.bends) }}
							{{ form_errors(form.bends) }}
							{{ form_widget(form.bends) }}<br><br>
							{{ form_label(form.departureDate) }}
							{{ form_errors(form.departureDate) }}
							{{ form_widget(form.departureDate) }}<br>
							{{ form_label(form.estimatedDuration) }}
							{{ form_errors(form.estimatedDuration) }}
							{{ form_widget(form.estimatedDuration) }}<br>
							{{ form_label(form.estimatedDistance) }}
							{{ form_errors(form.estimatedDistance) }}
							{{ form_widget(form.estimatedDistance) }}<br><br>
							{{ form_label(form.packageTransport) }}
							{{ form_errors(form.packageTransport) }}
							{{ form_widget(form.packageTransport) }}<br><br>
							{{ form_label(form.packageSize) }}
							{{ form_errors(form.packageSize) }}
							{{ form_widget(form.packageSize) }}<br><br>
							{{ form_label(form.car) }}
							{{ form_errors(form.car) }}
							{{ form_widget(form.car) }}<br><br>
							{{ form_label(form.smoker) }}
							{{ form_errors(form.smoker) }}
							{{ form_widget(form.smoker) }}<br><br>
							{{ form_label(form.pets) }}
							{{ form_errors(form.pets) }}
							{{ form_widget(form.pets) }}<br><br>
							{{ form_label(form.music) }}
							{{ form_errors(form.music) }}
							{{ form_widget(form.music) }}<br><br>
							{{ form_label(form.associatedGroup) }}
							{{ form_errors(form.associatedGroup) }}
							{{ form_widget(form.associatedGroup) }}<br><br>
							<button id="form_validatation" class="btn btn-primary btn-xs" type="submit">Créer <i class="icon-white glyphicon glyphicon-ok-sign"></i> </button>
						</form>
					</div>
				</td>
			</tr>
		</table>
	{% endif %}

{% endblock %}