
{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - Liste
{% endblock %}
	
{% block service_body %}
	<table class="table">
		<legend><b>Liste des services</b></legend>
		<tr>
			<td>
				<div class="well">
					<center>
						<h4><b>Choisissez votre service</b></h4><br>
						<form action="{{ path('ml_service_homepage') }}" method="post">
							Type
							<select style = "height:73px; margin-left:40px;" multiple name="type[]">
								{% if basic is sameas(true) %}
									<option value = "basic" selected>Basique</option>
								{% else %}
									<option value = "basic">Basique</option>
								{% endif %}
								{% if sale is sameas(true) %}
									<option value = "sale" selected>Vente</option>
								{% else %}
									<option value = "sale">Vente</option>
								{% endif %}
								{% if carpooling is sameas(true) %}
									<option value = "carpooling" selected>Covoiturage</option>
								{% else %}
									<option value = "carpooling">Covoiturage</option>
								{% endif %}
								{% if couchsurfing is sameas(true) %}
									<option value = "couchsurfing" selected>Couchsurfing</option>
								{% else %}
									<option value = "couchsurfing">Couchsurfing</option>
								{% endif %}
							</select><br><br><br>
							Créateur
							<select style = "margin-left:15px;" name="creator">
								{% if creator_login is sameas("no_login") %}
									<option value = "no_login" selected>Pas de tri</option>
								{% else %}
									<option value = "no_login">Pas de tri</option>
								{% endif %}
								{% for user in users %}
									{% if creator_login is sameas(user.login) %}
										<option value = "{{ user.login }}" selected>{{ user.login }}</option>
									{% else %}
										<option value = "{{ user.login }}">{{ user.login }}</option>
									{% endif %}
								{% endfor %}
							</select><br><br><br>
							Prix
							<select style = "margin-left:45px;" name="price">
								{% if price is sameas("no") %}
									<option value = "no" selected>Pas de tri</option>
								{% else %}
									<option value = "no">Pas de tri</option>
								{% endif %}
								{% if price is sameas("asc") %}
									<option value = "asc" selected>Croissant</option>
								{% else %}
									<option value = "asc">Croissant</option>
								{% endif %}
								{% if price is sameas("desc") %}
									<option value = "desc" selected>Décroissant</option>
								{% else %}
									<option value = "desc">Décroissant</option>
								{% endif %}
							</select><br><br>
							<button class="btn btn-primary btn-xs" type="submit">Confirmer <i class="icon-white glyphicon glyphicon-ok-sign"></i> </button>
						</form>
					</center>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="well">
					{% if servicess is defined %}
						{% if servicess is not null %}
							<table align="center" class = "table">
								<tr>
									<td>
										<center><b>Titre</b></center>
									</td>
									<td>
										<center><b>Créateur</b></center>
									</td>
									<td>
										<center><b>Karma</b></center>
									</td>
									<td>
										<center><b>Commentaire</b></center>
									</td>
									<td>
										<center><b>Date de création</b></center>
									</td>
									<td>
										<center><b>Prix</b></center>
									</td>
									<td>
										<center><b>Type</b></center>
									</td>
									
								</tr>
								{% for services in servicess %}
									{% for service in services %}
										{% if service.type is sameas("Basic") %}
											<tr class = "liste_services" onclick="document.location.href='./service/see/basic/{{ service.id }}'">
										{% endif %}
										{% if service.type is sameas("Carpooling") %}
											<tr class = "liste_services" onclick="document.location.href='./service/see/carpooling/{{ service.id }}'">
										{% endif %}
										{% if service.type is sameas("CouchSurfing") %}
											<tr class = "liste_services" onclick="document.location.href='./service/see/couchsurfing/{{ service.id }}'">
										{% endif %}
										{% if service.type is sameas("Sale") %}	
											<tr class = "liste_services" onclick="document.location.href='./service/see/sale/{{ service.id }}'">
										{% endif %}
												<td>
													<center>{{ service.title }}</center>
												</td>
												<td>
													<center>{{ service.user.login }}</center>
												</td>
												<td>
													<center>{{ service.user.karma }}</center>
												</td>
												{% if service.comment is not null %}
													<td>
														<center>{{ service.comment }} </center>
													</td>
												{% endif %}
												{% if service.comment is null %}
													<td>
														<center>No comment </center>
													</td>
												{% endif %}
												<td>
													<center>{{ service.creationDate|date("d/m/y") }}</center>
												</td>
												<td>
													<center>{{ service.price }} ₱</center>
												</td>
												<td>
													{% if service.type is sameas('Basic') %}
														<center>
															Basique
														</center>
													{% endif %}
													{% if service.type is sameas('Carpooling') %}
														<center>
															Covoiturage
														</center>
													{% endif %}
													{% if service.type is sameas('Sale') %}
														<center>
															Vente
														</center>
													{% endif %}
													{% if service.type is sameas('CouchSurfing') %}
														<center>
															{{ service.type }}
														</center>
													{% endif %}
												</td>
											</tr>
									{% endfor %}
								{% endfor %}
							</table>
						{% endif %}
						{% if servicess is null %}
							<center>Aucun service</center>
						{% endif %}
					{% endif %}
					{% if servicess is not defined %}
						<center>Aucun service</center>
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
{% endblock %}
