{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - Vue - Covoiturage
{% endblock %}
	
{% block service_body %}

	{% if carpool is not null %}
	    {% if error is defined %}
	    <div class="well">{{error}}</div>
	    {% endif %}
		<div class="well">
			<h3 id = "title_reservation"><b>{{ carpool.title }}</b></h3>
			<table class="table">
				<tr>
					<td>
						<div class = "well">
							<h4 class = "service">Createur :</h4> {{ carpool.user.login }}
							<h4 class = "service">Date de création :</h4> {{ carpool.creationDate|date("d/m/Y") }}
							<h4 class = "service">Commentaire :</h4> 
							{% if carpool.comment is null %} 
								Pas de commentaire
							{% endif %} 
							{% if carpool.comment is not null %} 
								{{ carpool.comment }}
							{% endif %}
							<h4 class = "service">Prix :</h4> {{ carpool.price }} ₱
							<h4 class = "service">Groupe associé :</h4> 
							{% if carpool.associatedGroup is null %} 
								Pas de groupe associé 
							{% else %} 
								{{ carpool.associatedGroup.name }}
							{% endif %} 
						</div>
					</td>
					<td>
						<div class = "well">
							<h4 class = "service">Depart :</h4> {{ carpool.departure }} 
							<h4 class = "service">Lieu de rendez-vous :</h4> {{ carpool.meetingPoint }}
							<h4 class = "service">Arrivée :</h4> {{ carpool.arrival }} 
							<h4 class = "service">Lieu de dépose :</h4> {{ carpool.arrivalPoint }} 
							<h4 class = "service">Détours :</h4> 
							{% if carpool.bends is not null %} 
								{{ carpool.bends }} 
							{% else %}
								Pas de détour
							{% endif %}
						</div>
					</td>
					<td>
						<div class = "well">
							<h4 class = "service">Date de départ :</h4> {{ carpool.departureDate|date("d/m/Y") }} 
							<h4 class = "service">Durée estimée :</h4> {{ carpool.estimatedDuration|date("H:i") }} 
							<h4 class = "service">Distance estimée (km) :</h4> {{ carpool.estimatedDistance }} 
							<h4 class = "service">Transport de colis :</h4> 
							{% if carpool.packageTransport is not null %} 
								{{ carpool.packageTransport }} 
							{% else %}
								Pas de transport de colis
							{% endif %}
							{% if carpool.packageTransport is not null %} 
								<h4 class = "service">Taille des bagages (kg) :</h4> 
								{% if carpool.packageSize is not null %} 
									{{ carpool.packageSize }} 
								{% else %}
									Pas de bagage
								{% endif %}
							{% endif %}
							<h4 class = "service">Voiture :</h4> {{ carpool.car }} 
						</div>
					</td>
					<td>
						<div class = "well">
							<h4 class = "service">Fumeur :</h4> 
							{% if carpool.smoker == true %} 
								Oui
							{% endif %}
							{% if carpool.smoker == false %} 
								Non
							{% endif %}
							<h4 class = "service">Animaux :</h4> 
							{% if carpool.pets == true %} 
								Oui
							{% endif %}
							{% if carpool.pets == false %} 
								Non
							{% endif %}
							<h4 class = "service">Musique :</h4> 
							{% if carpool.music == true %}
								Oui
							{% endif %}
							{% if carpool.music == false %}
								Non
							{% endif %}
						</div>
					</td>
				</tr>
				<tr>
					<td colspan = "4">
						<div class = "well">
							{% if user is not sameas(carpool.user) %}
								<form action="" method="post">
									<button id="form_reservation" class="btn btn-primary btn-xs" type="submit">Réserver <i class="icon-white glyphicon glyphicon-ok-sign"></i> </button>
								</form>
							{% else %}
								<form action="{{ path('ml_service_delete_carpooling') }}" method="post">
									<input type = "hidden" name = "carpooling_id" value = {{ carpool.id }} />
									<button id="form_reservation" class="btn btn-danger btn-xs" type="submit">Supprimer <i class="icon-white glyphicon glyphicon-remove-sign"></i> </button>
								</form>
							{% endif %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	{% endif %}

{% endblock %}
