{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - Vue - Basique
{% endblock %}
	
{% block service_body %}

	{% if basic is not null %}
	    {% if error is defined %}
	    <div class="well">{{error}}</div>
	    {% endif %}
		<div class="well">
			<h3 id = "title_reservation"><b>{{ basic.title }}</b></h3>
			<table class="table">
				<tr>
					<td>
						<div class = "well">
							<h4 class = "service">Createur :</h4> {{ basic.user.login }}
							<h4 class = "service">Date de création :</h4> {{ basic.creationDate|date("d/m/Y") }}
							<h4 class = "service">Description :</h4> 
							{% if basic.comment is null %} 
								Pas de commentaire
							{% endif %} 
							{% if basic.comment is not null %} 
								{{ basic.comment }}
							{% endif %}
							<h4 class = "service">Prix :</h4> {{ basic.price }} ₱
							<h4 class = "service">Groupe associé :</h4> 
							{% if basic.associatedGroup is null %} 
								Pas de groupe associé 
							{% else %} 
								{{ basic.associatedGroup.name }}
							{% endif %} 
						</div>
					</td>
				</tr>
				<tr>
					<td colspan = "4">
						<div class = "well">
							{% if user is not sameas(basic.user) %}
								<form action="" method="post">
									<button id="form_reservation" class="btn btn-primary btn-xs" type="submit">Réserver <i class="icon-white glyphicon glyphicon-ok-sign"></i> </button>
								</form>
							{% else %}
								<form action="{{ path('ml_service_delete_basic') }}" method="post">
									<input type = "hidden" name = "basic_id" value = {{ basic.id }} />
									<button id="form_reservation" class="btn btn-danger btn-xs" type="submit">Supprimer <i class="icon-white glyphicon glyphicon-remove-sign"></i> </button>
								</form>
							{% endif %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	{% endif %}

{% endblock %}
