{% extends "MlServiceBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Service - Vue - Vente
{% endblock %}
	
{% block service_body %}

	{% if sale is not null %}
	    {% if error is defined %}
	    <div class="well">{{error}}</div>
	    {% endif %}
		<div class="well">
			<h3 id = "title_reservation"><b>{{ sale.title }}</b></h3>
			<table class="table">
				<tr>
					<td>
						<div class = "well">
							<h4 class = "service">Créateur :</h4> {{ sale.user.login }}
							<h4 class = "service">Date de création :</h4> {{ sale.creationDate|date("d/m/Y") }}
							<h4 class = "service">Commentaire :</h4> 
							{% if sale.comment is null %} 
								Pas de commentaires 
							{% endif %} 
							{% if sale.comment is not null %} 
								{{ sale.comment }}
							{% endif %}
							<h4 class = "service">Prix :</h4> {{ sale.price }} ₱
							<h4 class = "service">Groupe associé :</h4> 
							{% if sale.associatedGroup is null %} 
								Pas de groupe associé
							{% else %} 
								{{ sale.associatedGroup.name }}
							{% endif %} 
						</div>
					</td>
					<td>
						<div class = "well">
							<h4 class = "service">Photo:</h4>
							{% if sale.path is not null %}
								<h4 class = "service"><img class = "sale" src = "./../../../../uploads/documents/{{ sale.path }}" alt "No picture" />
							{% else %}
								<h4 class = "service">Pas de photo
							{% endif %}
						</div>
					</td>
				</tr>
				<tr>
					<td colspan = "4">
						<div class = "well">
							{% if user is not sameas(sale.user) %}
								<form action="" method="post">
									<button id="form_reservation" class="btn btn-primary btn-xs" type="submit">Réserver <i class="icon-white glyphicon glyphicon-ok-sign"></i> </button>
								</form>
							{% else %}
								<form action="{{ path('ml_service_delete_sale') }}" method="post">
									<input type = "hidden" name = "sale_id" value = {{ sale.id }} />
									<button id="form_reservation" class="btn btn-danger btn-xs" type="submit">Supprimer <i class="icon-white glyphicon glyphicon-remove-sign"></i> </button>
								</form>
							{% endif %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	{% endif %}

{% endblock %}
