{% extends "::layout.html.twig" %}

{% block shell %}
	{% block header %}
		<header>
			<div id='homepage' class='pack-start' title="Poavre, le compagnon de votre SEL">
				<a href="{{ path('ml_service_add') }}"><img src="{{ asset('img/poavr-24.png') }}"/></a>
				<a href="{{ path('ml_service_add') }}">Poavre</a>
			</div>
			<div id='prestations' class='pack-start'>
				<a href="{{ path('ml_service_homepage') }}" title="Les prestations disponibles">Prestations</a>
				<a href="{{ path('ml_service_add') }}" title="Proposer une prestation !"><i class="icon-plus-sign"></i></a>
			</div>
			<div id='groups' class='pack-start' title="Discutez autour de prestations"><a href="{{ path('ml_group_homepage') }}">Groups</a></div>
			<div id='forum' class='pack-start' title="Discutez de tout et n'importe quoi !"><a href="{{ path('ml_forum_homepage') }}">Forum</a></div>
			<div id='logout' class='pack-end'>
				<form action="{{ path('ml_user_deconnexion') }}" method="post">
					<button class="btn btn-primary btn-mini" type="submit">Déconnexion <i class="icon-white icon-ok-sign"></i> </button>
				</form>
			</div>
			<div class='pack-end'><img src="{{ asset('img/yinyang.png') }}"/> {{ user.karma }}</div>
			<div class='pack-end'><img src="{{ asset('img/portefeuille.png') }}"/> {{user.account.amount}} ₱</div>
			<div id='profile' class='pack-end'><a href="{{ path('ml_user_homepage') }}">{{ user.firstName }} {{ user.lastName }}</a></div>
		</header>
	{% endblock %}
	
	<div id="sidebar" class="sidebar">
		<div class="sidebar-container">
			{% block sidebar %}
			{% endblock %}
		</div>
	</div>
	<div class="sidebar-right">
		<div class="sidebar-container">
			{% block body %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
