{% extends "MlForumBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Forum
{% endblock %}

{% block forum_body %}

	<table class="table">
		<legend>
			<b>Forum</b> 
			<div id = "new_topic">
				<form action="{{ path('ml_forum_new_topic') }}">
					<input type = "submit" value = "Créer un nouveau sujet" class = "btn btn-warning btn-medium-large">
				</form>
			</div>
		</legend>
		{% if message is not null %}
			<div class = "well">
				<center>{{ message }}</center>
			</div>
		{% endif %}
		{% if message is null %}
			<tr>
				<td>
					<div class="well">
						{% if topics is defined %}
							{% if topics is not null %}
								<table align = "center" class = "table">
									<tr>
										<td>
											<center><h4><b>Ratio Popularité</b></h4></center>
										</td>
										<td>
											<center><h4><b>Titre</b></h4></center>
										</td>
										<td>
											<center><h4><b>Description</b></h4></center>
										</td>
										<td>
											<center><h4><b>Auteur</b></h4></center>
										</td>
										<td>
											<center><h4><b>Vues</b></h4></center>
										</td>
										<td>
											<center><h4><b>Date de création</b></h4></center>
										</td>
										<td>
											<center><h4><b>Dernier message</b></h4></center>
										</td>
									</tr>
									{% set cpt = 0 %}
									{% for topic in topics %}
										<tr class = "list_topics" onclick="document.location.href='{{ path('ml_forum_see_topic', { 'topic': topic.id }) }}'">
											<td>
												{% if ratios[cpt] > 0 %}
													<center><h5>+{{ ratios[cpt] }}</h5></center>
												{% else %}
													<center><h5>{{ ratios[cpt] }}</h5></center>
												{% endif %}
											</td>
											<td>
												<center><h5>{{ topic.name }}</h5></center>
											</td>
											<td>
												<center><h5>{{ topic.description }}</h5></center>
											</td>
											<td>
												<center><h5>{{ topic.author.login }}</h5></center>
											</td>
											<td>
												<center><h5>{{ topic.nbViews }}</h5></center>
											</td>
											<td>
												<center><h5>{{ topic.creationDate|date("Y/m/d H:i") }}</h5></center>
											</td>
											<td>
												<center><h5>Par {{ last_message[cpt][0] }} le {{ last_message[cpt][1]|date("Y/m/d") }} à {{ last_message[cpt][1]|date("H:i") }}</h5></center>
											</td>
										</tr>
										{% set cpt = cpt + 1 %}
									{% endfor %}
								</table>
							{% endif %}
						{% endif %}
					</div>
				</td>
			</tr>
		{% endif %}
	</table>

{% endblock %}
