{% extends "MlUserBundle::layout.html.twig" %}

{% if user.getId() is defined %}

	{% block title %}
	 {{ parent() }} - Profil de {{ user.login }}
	{% endblock %}
		
	{% block user_body %}
		
		<div class="btn-group pull-right">
			<form action="{{ path('ml_user_edit', {'id': user.id}) }}" method="get">
				<input type = "submit" value = "Editez votre compte" class="btn btn-info">
			</form>
			<form action="{{ path('ml_user_delete', {'id': user.id}) }}" method="get">
				<input type = "submit" value = "Supprimez votre compte" class="btn btn-warning">
			</form>
		</div>

		<div class="well">
			<div>
				<div class="jumbotron">
					<h3 style="text-align:left">Mon profil</h3>
				</div>
				{#
					<p>Avatar: -</p>
					<p>Email: -</p>
				#}
				<p>Prénom: {{ user.firstName }}</p>
				<p>Nom: {{ user.lastName }}</p>
				{# 
					<p>Premium: {% if user.premium == true %} Oui {% endif %}
				    {% if user.premium == false %} Non {% endif %}</p>
				#}
				<p>Karma: {{ user.karma }}</p>
				<p>Vous disposez de {{user.account.amount}} ₱ sur votre compte</p>
			</div>
		</div>

	{% endblock %}

{% endif %}