{% extends "MlTransactionBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Evaluation
{% endblock %}
	
{% block transaction_body %}
	<div class="well">
	    <h2>Evaluation du service {{evaluation.service.title}}</h2>
	    <form method="post" action="{{path('ml_transaction_evaluation',{'serviceType':serviceType,'id':evaluation.id})}}">
	        <h3>Pour rappel : </h3>
	        Prestataire du service : {{evaluation.owner.login}}<br />
	        Prix du service : {{evaluation.service.price}}<br />
	        <h3>Noter : </h3>
	        Notez ce service : 0<input type="range" name="note" value="5" step="1" min="0" max="10" />10 <br />
	        <input type="submit" value="Payer et noter" />
	    </form>
	</div>

{% endblock %}
