{% extends "MlTransactionBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Evaluation - Liste
{% endblock %}
	
{% block transaction_body %}
	<div class="well">
	    <h2>Service(s) à évaluer</h2>
	    <table align = "center" class = "table">
	        <tr>
	            <td align = "center"><b>Service basic</b></td>
	            <td align = "center"><b>Prix</b></td>
	            <td align = "center"><b>Réalisateur du service</b></td>
	            <td align = "center"><b>Évaluer</b></td>
	        </tr>
	        {% for evaluation in basic%}
                <tr>
                    <td align = "center">{{evaluation.service.title}}</td>
                    <td align = "center">{{evaluation.service.price}}</td>
                    <td align = "center">{{evaluation.service.user.login}}</td>
                    <td align = "center">
                        <a href="{{path('ml_transaction_evaluation',{'serviceType':'sale','id':evaluation.id})}}">Évaluer</a>
                    </td>
                 </tr>
	        {% else %}
	            <tr>
					<td  align = "center" colspan="4">Vous n'avez aucun service à évaluer</td>
				</tr>
	        {% endfor %}
	    </table><br><br>
	    <table align = "center" class = "table">
	        <tr>
	            <td align = "center"><b>Vente</b></td>
	            <td align = "center"><b>Prix</b></td>
	            <td align = "center"><b>Réalisateur du service</b></td>
	            <td align = "center"><b>Évaluer</b></td>
	        </tr>
	        {% for evaluation in sale%}
                <tr>
                    <td align = "center">{{evaluation.service.title}}</td>
                    <td align = "center">{{evaluation.service.price}}</td>
                    <td align = "center">{{evaluation.service.user.login}}</td>
                    <td align = "center">
                        <a href="{{path('ml_transaction_evaluation',{'serviceType':'sale','id':evaluation.id})}}">Évaluer</a>
                    </td>
                 </tr>
	        {% else %}
	            <tr>
					<td  align = "center" colspan="4">Vous n'avez aucun service à évaluer</td>
				</tr>
	        {% endfor %}
	    </table><br><br>
	    <table align = "center" class = "table">
	        <tr>
	            <td align = "center"><b>Offre d'hébergement</b></td>
	            <td align = "center"><b>Prix</b></td>
	            <td align = "center"><b>Réalisateur du service</b></td>
	            <td align = "center"><b>Évaluer</b></td>
	        </tr>
	        {% for evaluation in couchsurfing %}
                <tr>
                    <td align = "center">{{evaluation.service.title}}</td>
                    <td align = "center">{{evaluation.service.price}}</td>
                    <td align = "center">{{evaluation.service.user.login}}</td>
                    <td align = "center">
                        <a href="{{path('ml_transaction_evaluation',{'serviceType':'couchsurfing','id':evaluation.id})}}">Évaluer</a>
                    </td>
                 </tr>
	        {% else %}
	            <tr>
					<td align = "center" colspan="4">Vous n'avez aucun service à évaluer</td>
				</tr>
	        {% endfor %}
	    </table><br><br>
	    <table align = "center" class = "table">
	        <tr>
	            <td align = "center"><b>Covoiturage</b></td>
	            <td align = "center"><b>Prix</b></td>
	            <td align = "center"><b>Réalisateur du service</b></td>
	            <td align = "center"><b>Évaluer</b></td>
	        </tr>
	        {% for evaluation in carpooling %}
                <tr>
                    <td align = "center">{{evaluation.service.title}}</td>
                    <td align = "center">{{evaluation.service.price}}</td>
                    <td align = "center">{{evaluation.service.user.login}}</td>
                    <td align = "center">
                        <a href="{{path('ml_transaction_evaluation',{'serviceType':'carpooling','id':evaluation.id})}}">Évaluer</a>
                    </td>
                 </tr>
	        {% else %}
	            <tr>
					<td align = "center" colspan="4">Vous n'avez aucun service à évaluer</td>
				</tr>
	        {% endfor %}
	    </table>
	</div>

{% endblock %}
